*{
    font-family:"poppins",sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.container_login{
    width: 20%;
    margin-top: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.graph-contain{
    width: 100%;
    align-items: center;
    font-size: 1px;
    
}

button,input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(125,125,235);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover,input[type="submit"]:hover{
    background-color: #383838;
    cursor: pointer;
}



input[type="text"],input[type="password"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.navbar {
    background-color: #c9d6ff;
    background: rgb(52, 52, 52);
    overflow: hidden;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(125,125,235);
    color: rgb(0, 0, 0);
}

#noDataMessage {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    margin-top: 20px;    /* ระยะห่างด้านบนจากกราฟ */
}
